.container {
  width: calc(100vw - 10px);
  height: calc(100vh - 60px);
  display: flex;
  padding: 5px;
  background-color: #24263a;
}

.left {
  width: 25%;
  height: 100%;
}

.middle {
  width: 25%;
  height: 100%;
}

.right {
  width: 50%;
  height: 100%;
}

.balanceBox {
  width: 100%;
  height: 45%;
}

.buySellBox {
  width: 100%;
  height: 55%;
}

.orderBook {
  width: 100%;
  height: 45%;
}

.trades {
  width: 100%;
  height: 55%;
}

.priceChart {
  width: 100%;
  height: 45%;
}

.transactions {
  width: 100%;
  height: 55%;
}
