.container {
  width: calc(100vw - 10px);
  height: calc(100vh - 60px);
  display: flex;
  padding: 5px;
  background-color: rgb(6, 3, 22);
  /* background-color: #0b041c; */
}

.left {
  width: 20%;
  height: 100%;
}

.middle {
  width: 25%;
  height: 100%;
}

.right {
  width: 55%;
  height: 100%;
}

.balanceBox {
  width: 100%;
  height: 45%;
}

.buySellBox {
  width: 100%;
  height: 55%;
}

.orderBook {
  width: 100%;
  height: 55%;
}

.trades {
  width: 100%;
  height: 45%;
}

.priceChart {
  width: 100%;
  height: 55%;
}

.transactions {
  width: 100%;
  height: 45%;
}
